.card {
  width: 120px;
  height: 168px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front {
  transform: rotateY(180deg);
}

.card-back {
  background-image: url('https://deckofcardsapi.com/static/img/back.png');
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

.card-title {
  height: 1.5rem;
  white-space: nowrap;
  text-align: center;
}